@{
    ViewData["Title"] = "Form Parameters Parsing Demo";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><a asp-action="ManualParsingSingleAction">Manual parsing in single action</a></li>
    <li><a asp-action="ManualParsingSeparateActions">Manual parsing in separate actions</a></li>
    <li><a asp-action="ModelBindingParameters">Model binding (parameters)</a></li>
    <li><a asp-action="ModelBindingSeparateModel">Model binding (separate model)</a></li>
</ul>